<!DOCTYPE html>
<html>
<title>WeatherTwo</title>
<head>
  <link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
</head>
<body class="mainp">
  <div class="mainblock">
    <div class="fblock">

    </div>

    <div class="sblock">

    </div>
  <!-- <form>
      <label for="citiname">Enter the name of the city:</label><br>
      <input type="text" id="citiname" name="citiname" style="size: 10000px;"><br>
      <button type="button">see today's weather</button>
    </form> -->
  </div> 
    
  <p></p>
</body>
</html>